<!DOCTYPE html>
<html>
  <head>
    <title>Oenana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.asanaLogo = "<%= image_url('Asana-logo.png') %>"
      window.asanaBackground = "<%= image_url('asana-background.gif') %>"
      window.projectWig = "<%= image_url('projects.png') %>"
      window.boardWig = "<%= image_url('presentation-board-with-graph.png') %>"
      window.listWig = "<%= image_url('list.png') %>"
      window.homeHeader = "<%= image_url('home-page-header.png') %>"
    </script>

  <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> 
  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
  --> 
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
